<div *ngIf="luonganh == 'it' || luonganh == 'nhieu'"> <!--nếu không nhập lượng ảnh thì bỏ qua -->
  <div class="hinhanh"> <!-- nút upload ảnh -->
    <!-- mode 1 ảnh: ẩn icon thay bằng hình ảnh khi đã chọn ảnh -->
    <div *ngIf="luonganh == 'it'">
      <ion-icon *ngIf="!chung.hinhanh.it.length" name="images-outline"></ion-icon>
      <ion-img *ngIf="chung.hinhanh.it.length" [src]="chung.hinhanh.it"></ion-img>
    </div>
    <div *ngIf="luonganh == 'nhieu'">
      <ion-icon name="images-outline"></ion-icon>
    </div>
  </div>
  <div *ngIf="luonganh == 'nhieu'">
    <div class="hinhanh">
      <ion-img *ngFor="let hinhanh of chung.hinhanh.nhieu" [src]="hinhanh"></ion-img>
    </div>
  </div>
  <div class="hinhanh">
    <ion-img src="https://tpc.googlesyndication.com/pagead/imgad?id=CICAgOCuxcT6FBCsAhg8MgjjGcx9riZG_w"></ion-img>
  </div>
</div>
