<div class="khung" *ngIf="mokhung" (click)="mokhung = false"></div>
<div class="khunganh">
  <div class="morong" *ngIf="mokhung">
    <div class="chucnang" (click)="chonanh()">
      Chọn ảnh từ Thư viện
    </div>
    <div class="chucnang" (click)="chupanh()">
      Chụp ảnh
    </div>
  </div>

  <div *ngIf="luonganh == '0'" class="hinhanh">
    <img *ngIf="hinhanh.length" [src]="hinhanh[0]" (click)="mokhung = true" />
    <div *ngIf="!hinhanh.length" (click)="mokhung = true">
      +
    </div>
  </div>

  <div *ngIf="luonganh == '1'">
    <div class="hinhanh" *ngFor="let anh of hinhanh; let i = index" (click)="xoaanh(i)">
      <img [src]="anh" />
    </div>
    <div class="hinhanh" (click)="mokhung = true">
      +
    </div>
  </div>
</div>