<ion-popover trigger="click-trigger" [dismissOnSelect]="true" triggerAction="click">
  <ng-template>
    <ion-item button (click)="chonanh()">
      Chọn ảnh từ Thư viện
    </ion-item>
    <ion-item button (click)="chupanh()">
      Chụp ảnh
    </ion-item>
  </ng-template>
</ion-popover>

<div *ngIf="!luonganh" class="hinhanh">
  <img *ngIf="hinhanh.length" [src]="hinhanh[0]" />
  <div *ngIf="!hinhanh.length" id="click-trigger">
    <ion-icon name="images-outline"></ion-icon>
  </div>
</div>

<div *ngIf="luonganh">
  <div class="hinhanh" *ngFor="let anh of hinhanh">
    <img [src]="anh" />
  </div>
  <div class="hinhanh" id="click-trigger">
    <ion-icon name="images-outline"></ion-icon>
  </div>
</div>